/* * {
    margin: 0px;
} */
/* через * можно обращаться сразу ко всем элементам */

p {
    font-style: italic;
    font-size: 40px;
    background-color: rgb(30, 102, 210);
}

.conteiner {
    text-align: center;
    background-color: yellowgreen;
    display: inline-block;
    margin: 20px;
    margin-top: 50px;
}

.other {
    text-align: center;
}

.conteiner>img {
    max-width: 300px;
}